{% extends 'Quiz_app/base.html'%}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<form action="{% url 'question' %}" method="post" >
    <input type="text" name ="c_question" value={{question.uuid}} style="display: none"><h1>{{question.text}}</h1></input>
{%for choice in choices %}
<tr><h3><input type="checkbox" name="answer" value={{choice.uuid}} style="transform: scale(1.5)"> {{ choice.text }}</h3></tr><br>
{%endfor%}

     {% csrf_token %}
     {% if end is False%}
            <button type="submit" class="btn btn-success">Next question</button>
     {%else%}
        <a href="{% url 'results' %}" >
            <button type="submit" class="btn btn-success">Show Results</button>
        </a>
     {% endif %}
</form>
{% endblock%}